<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Order}}</title>

    <style>
        body {
            /* A4 */
            width: 21cm;
            height: 29.7cm;

            box-sizing: border-box;
            margin: 0;
            padding: 0.35cm;
            /* Page height: 29cm */
        }

        @page {
            size: 21cm 29.7cm;
        }

        .main {
            height: 14.47cm;
            width: 100%;
            box-sizing: border-box;
            font-family: 'Fira Code';
            text-align: center;
            font-weight: bold;
            padding: 0;
            margin: 0;
        }

        p {
            padding: 0;
            margin: 0;
        }

        hr {
            width: 100%;
            margin: 0;
            padding: 0;
            height: 0.001cm;
            background-color: lightgray;
        }

        .order {
            height: 3cm;
        }

        .company-name {
            height: 4cm;
        }

        .city {
            height: 3cm;
        }

        .qrcode {
            height: 4cm;
            width: 4cm;
        }

        .note {
            height: 4cm;
            width: 70%;
            box-sizing: border-box;
            float: right;
            text-align: left;
            padding: 1rem;
        }
    </style>
</head>

<body>
    {{ define "content" }}
    <div class="main">
        <p class="order">{{.Order}}</p>
        <p class="company-name">{{.CompanyName}}</p>
        <p class="city">{{if .CompanyCity}}{{.CompanyCity}}{{end}}</p>

        <img src="/api/qrcode-stamp?id={{.ID}}" class="qrcode" />
        {{ if gt (len .Note) 0 }}
        <p class="note">Note: {{.Note}}</p>
        {{ end }}
    </div>
    {{ end }}

    {{ template "content" . }}
    <hr>
    {{ template "content" . }}

    <script src="/static/vendor/textFit.min.js"></script>
    <script>
        textFit(document.getElementsByTagName("p"), { multiLine: true, alignVert: true })
        window.onafterprint = () => window.close()
        window.print()
    </script>
</body>

</html>