<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Order}}</title>

    <style>
        body {
            /* A4 */
            width: 21cm;
            height: 29.7cm;

            margin: 0;
            padding: 2.5rem;
        }

        @page {
            size: 21cm 29.7cm;
        }

        .main {
            height: 14.5cm;
            width: 100%;
            margin: 0;
            font-family: 'Fira Code';
            text-align: center;
        }

        h1 {
            font-size: 5rem;
            margin: 0;
        }

        h2 {
            height: 3cm;
            font-size: 3rem;
            margin: 0;
        }

        h3 {
            margin: 0;
            font-size: 2rem;
        }

        .qrcode {
            height: 5cm;
            width: 5cm;
        }
    </style>
</head>

<body>
    {{ define "content" }}
    <div class="main">
        <h1>{{.Order}}</h1>
        <h1>{{.CompanyName}}</h1>
        <h2>{{if .CompanyCity}}{{.CompanyCity}}{{end}}</h2>
        {{ if gt (len .Note) 0 }}
        <h3>Note: {{.Note}}</h3>
        {{ end }}

        <img src="/api/qrcode-stamp?id={{.ID}}" class="qrcode" />
    </div>
    {{ end }}

    {{ template "content" . }}
    {{ template "content" . }}

    <script>
        window.onafterprint = () => window.close()
        window.print()
    </script>
</body>

</html>