#notification-container {
    position: fixed;
    width: 20vw;
    min-width: 200px;
    height: 5vh;
    right: 1rem;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    z-index: 100;
}

#orders-buttons {
    display: flex;
}

#orders-buttons  > .table-container {
    margin: auto;
}

.child-background-alternate:nth-child(even) {
    background-color: hsl(0, 0%, 98%);
}

.child-background-alternate:not(:last-child) {
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

.notification {
    margin: 1rem;
}

td {
	word-break: break-word;
}

.only-print {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 512px) {
    #orders-buttons {
        display: block;
    }
}


@media print {
    .no-print {
        display: none;
        visibility: hidden;
    }

    .only-print {
        display: initial;
        visibility: initial;
    }
}

